body {
  padding: 0;
  margin: 0;
  background: #f2f2f2;
}

.moped-bear-container {
  position: absolute;
  height: 100%;
  width: 100%;
}

.moped-bear {
  position: relative;
  height: 300px;
  width: 242px;
  margin: auto;
  top: 20vh;
}

.bear {
  position: absolute;
  height: 216px;
  width: 150px;
  left: 26px;
  z-index: 12;
  -webkit-animation: bearJump 0.3s infinite;
          animation: bearJump 0.3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes bearJump {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}

@keyframes bearJump {
  0% {
    top: 0;
  }
  50% {
    top: 20px;
  }
  100% {
    top: 0;
  }
}
.bear-head {
  position: absolute;
  height: 138px;
  width: 103px;
  background: #dbd3c0;
  right: 8px;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  z-index: 2;
}

.bear-mouth {
  position: absolute;
  right: -11px;
  top: 29px;
  height: 37px;
  width: 44px;
  background: #bcb096;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 500px;
  border-bottom-right-radius: 500px;
}

.bear-nose {
  position: absolute;
  top: 5px;
  height: 10px;
  width: 16px;
  background: #333333;
  right: -1px;
  border-radius: 500px;
}

.eyes {
  position: absolute;
  height: 24px;
  width: 36px;
  right: 6px;
  top: 6px;
}

.eye {
  position: absolute;
  height: 9px;
  width: 5px;
  background: #333333;
  border-radius: 10px;
  top: 10px;
  -webkit-animation: eyeClose 2s infinite;
          animation: eyeClose 2s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes eyeClose {
  0% {
    height: 9px;
  }
  25% {
    height: 9px;
  }
  45% {
    height: 9px;
    top: 10px;
  }
  50% {
    height: 0px;
    top: 13px;
  }
  55% {
    height: 9px;
    top: 10px;
  }
  100% {
    height: 9px;
  }
}

@keyframes eyeClose {
  0% {
    height: 9px;
  }
  25% {
    height: 9px;
  }
  45% {
    height: 9px;
    top: 10px;
  }
  50% {
    height: 0px;
    top: 13px;
  }
  55% {
    height: 9px;
    top: 10px;
  }
  100% {
    height: 9px;
  }
}
.left-eye {
  left: 7px;
}

.right-eye {
  left: 19px;
}

.ears {
  height: 19px;
  width: 50px;
  position: absolute;
  top: -4px;
  left: 8px;
  -webkit-transform: rotate(-22deg);
          transform: rotate(-22deg);
}

.ear {
  height: 15px;
  width: 15px;
  position: absolute;
  border-radius: 100%;
  background: #dbd3c0;
}

.left-ear {
  top: -5px;
  left: 7px;
}

.right-ear {
  top: -5px;
  left: 29px;
}

.inner-ear {
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 100%;
  background: #bcb096;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.bear-torso {
  position: absolute;
  height: 112px;
  width: 118px;
  background: #dbd3c0;
  bottom: 0px;
  left: 11px;
  border-top-left-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  -webkit-animation: torsoJump 0.3s infinite;
          animation: torsoJump 0.3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes torsoJump {
  0% {
    bottom: 4px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 4px;
  }
}

@keyframes torsoJump {
  0% {
    bottom: 4px;
  }
  50% {
    bottom: 0px;
  }
  100% {
    bottom: 4px;
  }
}
.left-arm {
  position: absolute;
  height: 41px;
  width: 89px;
  background: #bcb096;
  right: -50px;
  top: 21px;
  border-bottom-right-radius: 500px;
  border-top-right-radius: 500px;
  border-bottom-left-radius: 504px;
}

.right-arm {
  position: absolute;
  height: 43px;
  width: 109px;
  background: #dbd3c0;
  right: -43px;
  top: 25px;
  -webkit-transform: rotate(198deg) skew(30deg) perspective(0px) rotateX(21deg);
          transform: rotate(198deg) skew(30deg) perspective(0px) rotateX(21deg);
  border-bottom-right-radius: 116%;
  border-bottom-left-radius: 37px;
  border-top-right-radius: 83%;
  border-top-left-radius: 169%;
  z-index: 99;
}

.right-paw {
  position: absolute;
  height: 40px;
  width: 50px;
  left: -3px;
  top: 7px;
  background: #dbd3c0;
  -webkit-transform: skew(-22deg) rotate(-23deg);
          transform: skew(-22deg) rotate(-23deg);
  border-bottom-left-radius: 86px;
  border-bottom-right-radius: 57px;
  border-top-left-radius: 96px;
  border-top-right-radius: 95px;
}

.right-leg {
  position: absolute;
  height: 38px;
  width: 85px;
  background: #dbd3c0;
  bottom: 1px;
  right: -7px;
  -webkit-transform: rotate(0deg) skew(38deg);
          transform: rotate(0deg) skew(38deg);
  border-top-right-radius: 120px;
  border-top-left-radius: 120px;
  z-index: 13;
}

.right-leg-bottom {
  position: absolute;
  height: 49px;
  width: 50px;
  background: #dbd3c0;
  right: 2px;
  top: 3px;
  -webkit-transform: rotate(-26deg) skew(-13deg);
          transform: rotate(-26deg) skew(-13deg);
  border-top-right-radius: 176px;
  border-top-left-radius: 60px;
}

.underbelly {
  position: absolute;
  right: 0;
  height: 86px;
  width: 55px;
  background: #c7bb9e;
  bottom: 0;
  border-bottom-right-radius: 118px;
}

.underbelly-foot {
  position: absolute;
  right: -11px;
  height: 60px;
  width: 24px;
  background: #c7bb9e;
  top: 57px;
  -webkit-transform: rotate(-50deg) skew(0deg);
          transform: rotate(-50deg) skew(0deg);
}

.scooter {
  position: absolute;
  height: 177px;
  width: 333px;
  top: 137px;
  left: -58px;
}

.scooter-seat {
  position: absolute;
  height: 18px;
  width: 109px;
  background: #3f403e;
  top: 79px;
  left: 61px;
  border-radius: 500px;
  z-index: 10;
}

.scooter-bottom-frame {
  position: absolute;
  height: 64px;
  width: 100%;
  bottom: 28px;
  left: 6px;
  z-index: 9;
}

.bottom-rail {
  position: absolute;
  width: 206px;
  height: 16px;
  background: #549c54;
  top: 46px;
  left: 39px;
  border-top-left-radius: 6px;
  border-bottom-right-radius: 10px;
}

.scooter-back {
  position: absolute;
  height: 51px;
  width: 43px;
  background: #549c54;
  bottom: 3px;
  left: 35px;
  border-top-left-radius: 71px;
  border-bottom-right-radius: 71px;
  -webkit-transform: skew(10deg);
          transform: skew(10deg);
}

.wheel-rim-1 {
  position: absolute;
  height: 30px;
  width: 16px;
  background: #549c54;
  right: 81px;
  bottom: 7px;
  border-top-left-radius: 14px;
  border-bottom-right-radius: 14px;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  border-bottom-left-radius: 20px;
}

.wheel-rim-2 {
  position: absolute;
  height: 23px;
  width: 16px;
  background: #549c54;
  right: 72px;
  bottom: 24px;
  border-top-left-radius: 31px;
  border-bottom-right-radius: 14px;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  border-bottom-left-radius: 20px;
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.wheel-rim-3 {
  position: absolute;
  height: 26px;
  width: 15px;
  background: #549c54;
  right: 65px;
  bottom: 26px;
  border-top-left-radius: 31px;
  border-bottom-right-radius: 14px;
  -webkit-transform: rotate(32deg);
          transform: rotate(32deg);
  border-bottom-left-radius: 20px;
  -webkit-transform: rotate(70deg);
          transform: rotate(70deg);
}

.wheel-rim-4 {
  position: absolute;
  height: 40px;
  width: 14px;
  background: #549c54;
  right: 51px;
  bottom: 21px;
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 42px;
  border-top-left-radius: 31px;
  border-top-right-radius: 7px;
  -webkit-transform: rotate(91deg);
          transform: rotate(91deg);
}

.scooter-back-curve-1 {
  position: absolute;
  height: 50px;
  width: 62px;
  background: #549c54;
  top: 7px;
  left: 60px;
  -webkit-transform: rotate(2deg) skew(-15deg);
          transform: rotate(2deg) skew(-15deg);
}

.front-leaning-part {
  position: absolute;
  height: 85px;
  width: 19px;
  background: #549c54;
  right: 51px;
  bottom: 53px;
  border-top-right-radius: 140px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 90px;
  -webkit-transform: skew(17deg) skewY(19deg);
          transform: skew(17deg) skewY(19deg);
}

.front-leaning-part-circle {
  position: absolute;
  height: 32px;
  width: 32px;
  background: #549c54;
  right: 51px;
  bottom: 122px;
  border-bottom-left-radius: 140px;
  border-top-left-radius: 140px;
  -webkit-transform: skew(2deg);
          transform: skew(2deg);
}

.front-leaning-part-rectangle {
  position: relative;
  height: 126%;
  width: 16px;
  background: #3f403e;
  left: 30px;
  bottom: 13%;
}

.wheels {
  position: absolute;
  width: 100%;
  top: 82px;
}

.wheel {
  position: absolute;
  width: 55px;
  height: 56px;
  background: #3f403e;
  border-radius: 100%;
}

.right-wheel {
  top: 49px;
  right: 16px;
}

.inner-wheel {
  position: relative;
  background: #6c6d6a;
  width: 65%;
  height: 65%;
  border-radius: 100%;
  margin: auto;
  top: 20%;
}

.right-inner-wheel {
  position: absolute;
  background: #6c6d6a;
  width: 65%;
  height: 65%;
  border-radius: 100%;
  top: 18%;
  left: 18%;
  z-index: 1;
  -webkit-animation: rightWheelMoving 0.3s infinite;
          animation: rightWheelMoving 0.3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes rightWheelMoving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rightWheelMoving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.right-wheel-guard {
  position: relative;
  top: -15%;
  left: -26%;
  height: 62%;
  width: 123%;
  background: #549c54;
  margin: auto;
  border-top-left-radius: 500px;
  border-top-right-radius: 500px;
  -webkit-transform: rotate(-23deg);
          transform: rotate(-23deg);
  z-index: 2;
}

.left-wheel {
  left: 60px;
  top: 40px;
  height: 62px;
  width: 62px;
  -webkit-animation: leftWheelMoving 0.3s infinite;
          animation: leftWheelMoving 0.3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes leftWheelMoving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes leftWheelMoving {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.silver-handle-bar {
  position: absolute;
  height: 11px;
  width: 43px;
  background: silver;
  top: 19px;
  right: 18px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 20px;
}

.green-handle-bar {
  position: absolute;
  height: 18px;
  width: 43px;
  background: #549c54;
  top: 29px;
  right: 41px;
  -webkit-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 20px;
  z-index: 4;
}

.green-bike-curve-bottom {
  position: absolute;
  height: 20px;
  width: 10px;
  background: red;
}

.green-bike-curve-bottom {
  position: absolute;
  height: 36px;
  width: 10px;
  left: 119px;
  top: 10px;
  background: rgba(255, 0, 0, 0);
  z-index: 3;
  border: 4px solid #549c54;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  -webkit-transform: skew(-31deg) rotate(-24deg);
          transform: skew(-31deg) rotate(-24deg);
  border-top-color: rgba(128, 0, 128, 0);
  border-right-color: rgba(128, 0, 128, 0);
  border-bottom-color: rgba(255, 255, 255, 0);
}

.green-bike-curve-left {
  position: absolute;
  height: 17px;
  width: 18px;
  left: 121px;
  top: 5px;
  background: #549c54;
  z-index: 3;
  border-bottom-right-radius: 100%;
  -webkit-transform: skew(-39deg);
          transform: skew(-39deg);
}

.wheel-rim-curve {
  position: absolute;
  height: 27px;
  width: 43px;
  background: rgba(255, 0, 0, 0);
  right: 39px;
  top: 14px;
  border-top-left-radius: 100%;
  border-top-right-radius: 64%;
  border: 6px solid #549c54;
  border-right-color: rgba(240, 248, 255, 0);
  border-bottom-color: rgba(240, 248, 255, 0);
  -webkit-transform: skew(-12deg);
          transform: skew(-12deg);
}

.inner-wheel-black-slot {
  position: absolute;
  height: 6px;
  width: 6px;
  background: #3f403e;
  border-radius: 100%;
}

.inner-wheel-black-1 {
  top: 10px;
  left: 7px;
}

.inner-wheel-black-2 {
  top: 10px;
  left: 21px;
}

.inner-wheel-black-3 {
  top: 22px;
  left: 21px;
}

.inner-wheel-black-4 {
  top: 22px;
  left: 7px;
}

.inner-wheel-black-1-2 {
  top: 23px;
  left: 10px;
}

.inner-wheel-black-2-2 {
  top: 23px;
  left: 24px;
}

.inner-wheel-black-3-2 {
  top: 10px;
  left: 24px;
}

.inner-wheel-black-4-2 {
  top: 10px;
  left: 10px;
}

.shadow-bike {
  position: absolute;
  height: 24px;
  width: 300px;
  background: #333;
  bottom: -30px;
  left: 35px;
  border-radius: 100%;
  opacity: 0.3;
  z-index: -1;
  -webkit-animation: shadowJump 0.3s infinite;
          animation: shadowJump 0.3s infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes shadowJump {
  0% {
    top: 194px;
    opacity: 0.2;
  }
  50% {
    top: 170px;
    opacity: 0.21;
    width: 320px;
    left: 20px;
  }
  100% {
    top: 194px;
    opacity: 0.2;
  }
}

@keyframes shadowJump {
  0% {
    top: 194px;
    opacity: 0.2;
  }
  50% {
    top: 170px;
    opacity: 0.21;
    width: 320px;
    left: 20px;
  }
  100% {
    top: 194px;
    opacity: 0.2;
  }
}
@media screen and (max-width: 379px) {
  .moped-bear {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    margin-left: 0;
  }
}
