  <!DOCTYPE html>
  <head>
    <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
    <script src="../js/zepto.js"></script>
    <script src="../js/zepto.dragdrop.js"></script>
    <script src="../js/clasifica.js"></script>
    <meta charset="utf-8">
  </head>

  <body> <!--onload="deshabilitaRetroceso()">-->
    <br>
  <a href="../nivel1.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <h2 align="center">Arrastra los animales en el ecosistema al que pertenecen</h2>
  </header>
    
  <img src="../animal/cebra.svg" id="draga1" class="draga1"><!--tierra--> 
  <img src="../animal/ardilla.svg" id="draga2" class="draga2"><!--tierra-->
  <img src="../animal/cangrejo.svg" id="draga3" class="draga3">
  <img src="../animal/caracol.svg" id="draga4" class="draga4"><!--tierra-->
  <img src="../animal/venado.svg" id="draga5" class="draga5"><!--tierra-->
  <img src="../animal/jaguar.svg" id="draga6" class="draga6"><!--tierra-->
  <img src="../animal/jirafa.svg" id="draga7" class="draga7"><!--tierra-->
  <img src="../animal/tortuga.svg" id="draga8" class="draga8">
  <img src="../animal/langosta.svg" id="draga9" class="draga9">
  <img src="../animal/pinguino.svg" id="draga10" class="draga10">
  <img src="../animal/rinoceronte.svg" id="draga11" class="draga11"><!--tierra-->

  <img id="tierra" class="dropabosque" src="../cestos/bosque.svg"/></div><div id="texto1" class="textobosque"></div>
    
  <img id="agua" class="dropasea" src="../cestos/sea.svg"/></div><div id="texto3" class="textosea"></div>

  <div style="display: none;">
  <audio src="../audio/select.mp3" preload="auto" controls ></audio>
  <audio src="../audio/success.wav" preload="auto" controls ></audio>
  <audio src="../audio/error.mp3" preload="auto" controls ></audio>
  </div>

   
   </body>
