
  <link rel="stylesheet" type="text/css" href="../css/estilos2.css">
  <script src="../js/zepto.js"></script>
  <script src="../js/zepto.dragdrop.js"></script>
  <script src="../js/info.js"></script>
  <meta charset="utf-8">
    
<body>
  <br>
  <br><a href="../nivel2.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a>
  <h2 align="center">Arrastra la fracciòn para ver su informaciòn</h2>
    <img src="../tipos/impropia1.svg" id="draga1" class="draga1">
    <img src="../tipos/propia1.svg" id="draga2" class="draga2">
    <img src="../tipos/impropia3.svg" id="draga3" class="draga3">
    <img src="../tipos/propia2.svg" id="draga4" class="draga4">
    <img src="../tipos/impropia4.svg" id="draga5" class="draga5">
    <img src="../tipos/propia3.svg" id="draga6" class="draga6">
    <img src="../tipos/impropia5.svg" id="draga7" class="draga7">
    <img src="../tipos/propia4.svg" id="draga8" class="draga8">
    <img src="../tipos/impropia6.svg" id="draga9" class="draga9">
    <img src="../tipos/propia5.svg" id="draga10" class="draga10">
    <img src="../tipos/impropia2.svg" id="draga11" class="draga11">
    <ACRONYM title="Arrastra cualquier fracci&oacute;n hacia esta imagen
y sabras su NOMBRE y TIPO al que pertenece,
para m&aacute;s informaci&oacute;n dar click en la imagen">
        <input id="agua" class="dropagua" type=image src="../img/info.svg" onClick=" window.location.href='FRACCIONES.pdf' ">
</ACRONYM>
  <img src="../tipos/impropia1.svg" id="draga1" class="draga1">
  <img src="../tipos/propia1.svg" id="draga2" class="draga2">
  <img src="../tipos/impropia3.svg" id="draga3" class="draga3">
  <img src="../tipos/propia2.svg" id="draga4" class="draga4">
  <img src="../tipos/impropia4.svg" id="draga5" class="draga5">
  <img src="../tipos/propia3.svg" id="draga6" class="draga6">
  <img src="../tipos/impropia5.svg" id="draga7" class="draga7">
  <img src="../tipos/propia4.svg" id="draga8" class="draga8">
  <img src="../tipos/impropia6.svg" id="draga9" class="draga9">
  <img src="../tipos/propia5.svg" id="draga10" class="draga10">
  <img src="../tipos/impropia2.svg" id="draga11" class="draga11">

  <img id="agua" class="dropagua" src="../img/info.svg"/></div>
  
  <div id="texto1" class="textoagua"></div>
   
   </body>   