<!DOCTYPE html>
<html lang="es">
<head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width-device-width, initial-scale=1,maximum-scale=1/">
	<link rel="stylesheet" type="text/css" href="css/index.css">
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>

    <link href="dist/css/bootstrap.css" rel="stylesheet">
    <link href="dist/css/bootstrap-theme.css" rel="stylesheet">
    <link href="assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="assets/js/ie-emulation-modes-warning.js"></script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400, 400i, 600, 600i, 700, 700i, 800, 800i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100, 100i,300,300i,400, 400i, 600, 600i, 700, 700i" rel="stylesheet">


</head>
<body style="background-color: #fff;">

<div class="container">
	<div class="box">
	   	<div class="row" align="center">
		<div class="col-sm-4">
          <div class="list-group">
            <a href="#" class="list-group-item active" style="background: #de190b;">
              <h2 class="list-group-item-heading">
              <font><font>¡F E L I C I D A D E S!</font></font></h2>
            <a href="#" class="list-group-item">
              <h4 class="list-group-item-heading"><font><font>HAS GANADO UNA PROMOSION</font></font></h4>
              <p class="list-group-item-text"><font><font>Ahora solo debes pasar con tus padres a la direccion que te muestra el mapa que te entreguen tu premio.</font><font></p>
            </a>
          </div>
        
			<div class="col-md-6">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3809.9686623918137!2d-97.67962897787784!3d17.26875098303507!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85c62ec3c9440fc7%3A0x60a4dadf5a38797e!2s69800+Tlaxco%2C+Oax.!5e0!3m2!1ses!2smx!4v1495450870711" width="500" height="220" frameborder="0" style="border:0" allowfullscreen></iframe>
			</div><br><br>
			<div class="col-md-6">
				<a href="../index.html" type="button" class="btn btn-lg btn-danger" role="button">¡ L I S T O !</a>
			</div>
		</div>
	</div>
</div>

	<script src="js/mostrar.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="dist/js/bootstrap.min.js"></script>
    <script src="assets/js/docs.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>