<!DOCTYPE html>

<html>
<head>
	<title></title>
	<!--link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
	<script type="text/javascript"  src="../js/validaciones.js"></script>
	<!--link rel="stylesheet" type="text/css" href=""  clase="contact_form" id="contact_form"-->

</head>
<body>
 <form  enctype="multipart/form-data" name="registro" action="../controlador/guardar.php" method="POST"  >
 <label>Nombre de la Empresa</label><br>
 <input type="text" name="nombre"><br>
 <label>Logotipo</label><br>
 <input name="file" type="file" /><br><br>
 <label>Direccion</label><br>
 <input type="text" name="dir"><br>
 <label>Telefono</label><br>
 <input type="tel" name="telefono"><br>
 <label>RFC</label><br>
 <input type="text" name="rfc"><br>
 <label>Correo</label><br>
 <input type="email" name="correo"><br>
 <!--label>Pago</label><br><input type="radio" name="pago"><br>
 <label>Vigencia</label><br>
 <input type="date" name="vigencia"><br>
 <label>Nombre del Producto</label><br>
 <input type="text" name="nombrep"><br>
 <label>Nivel</label><br>
 <input type="text" name="nivel"><br-->
  <input type="submit" name="guardar" value="guardar datos">
 <input type="reset" name="limpiar" value="borrar datos">
 <input type="hidden" name="ncapa" value="1" />
 </form>
 
 </body>
 
 </html>

	

	