<script src="../js/zepto.js"></script>
<script src="../js/zepto.dragdrop.js"></script>
<script src="../js/suma.js"></script>
<link rel="stylesheet" type="text/css" href="../css/sum.css">
<link rel="stylesheet" type="text/css" href="../css/patrocinadores.css"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" charset="utf-8" />

<body style="background:rgb(155,225,225);">
    <header style="background:rgb(155,225,225);">
        <a href="../nivel3.html"><span><img src="../ico/back.png" align="left" width="30" height="30"></span></a> 
        <a href="../index.html"><span><img src="../ico/home.png" align="left" width="30" height="30"></span></a> 

    </header>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion">
    <img src="../numeros/number-1.svg" id="uno" class="uno">   
</ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-2.svg" id="dos" class="dos">   </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-3.svg" id="tres" class="tres">   </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-4.svg" id="cuatro" class="cuatro">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-5.svg" id="cinco" class="cinco">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-6.svg" id="seis" class="seis"> </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-7.svg" id="siete" class="siete"></ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-8.svg" id="ocho" class="ocho">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-9.svg" id="nueve" class="nueve">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-10.svg" id="diez" class="diez">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-1.svg" id="uno2" class="uno2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-2.svg" id="dos2" class="dos2"></ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-3.svg" id="tres2" class="tres2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-4.svg" id="cuatro2" class="cuatro2">   </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-5.svg" id="cinco2" class="cinco2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-6.svg" id="seis2" class="seis2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-7.svg" id="siete2" class="siete2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-8.svg" id="ocho2" class="ocho2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-9.svg" id="nueve2" class="nueve2">    </ACRONYM>
<ACRONYM title="Arrastra el numero para realizar la multiplicacion"><img src="../numeros/number-10.svg" id="diez2" class="diez2">    </ACRONYM>
<div id="numerador" class="numerador">
</div>
<div class="raya"></div>
<div id="denominador" class="denominador"></div>
<div id="signo" class="signo"></div>
<div id="numeradoruno" class="numeradoruno"></div>
<div id="raya2" class="raya2"></div>
<div id="denominadordos" class="denominadordos"></div>

<img id="resultado" class="resultado">
<!--div class="resultado" id="resultado"></div-->

<img id="num" class="num">
<!--div id="num" class="num"></div-->
<div id="raya3" class="raya3"></div>
<img id="den" class="den">
<!--div id="den" class="den"></div-->
<div id="texto" class="texto"></div>
<!--Publicidad de patrocinadores-->
<div class="container"><div class="row" style=" margin-left: -2px; margin-right: -2px">
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="main-box clearfix profile-box">
                <div class="main-box-body clearfix">
                    <div class="profile-box-header" style="">
                        <img src="../img/x.gif" alt="" class="profile-img img-responsive center-block">
                        <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Publicentro</font></font></h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="display: none;">
    <audio src="../audio/select.mp3" preload="auto" controls></audio>
    <audio src="../audio/success.wav" preload="auto" controls></audio>
</div>

</body>